.carousel-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
}

.carousel-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
}
